{% extends 'base.html'%}
<!--{% import 'macros.html' as macro %}-->

 Styles block

{% block styles%}
    {{ super() }}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">

{% endblock %}

{% block content %}

   <h1>News sources</h1>

    <ul>

        {%for source in sources %}
        	            <div class="col-md-3">

		            <div class="panel panel-default">
						<div class="panel-heading">
                            <div><strong>{{source.name}}</strong></li></div>
                            <a href="/article/{{source.id}}"class="btn btn-warning btn-sm">Visit Article</a>
        </div>
            </div>
                        </div>
    </Ul>

        {%endfor%}

{% endblock%}

